input[type=text] {
  width: 75%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 22px 10px 30px 40px;
  font-family: 
}


img {
width: 120px;
}

.title{
font-family: Merriweather, georgia,times, "times new roman";
word spacing: -0.2rem;
line-height: 1.1;
font color:#241c15;
}

button {
padding: 14px 40px;
background-color:36,28,21, 0.5;
font-size: 14px;
}

form{


}

h2{
  margin: auto;
  display: block;
}
h1{
  margin: auto;
  display: block;
}

img{
max-width: 130px
max-height: 130px

}
